/* Import google fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection {
    color: #fff;
    background: #49C6DD;
}

/* Wrapper */
.wrapper {
    width: 80%;
    height: 90%;
    background: #fff;
    border-radius: 2vw;
    padding: 5vw;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}

/* Header */
.wrapper header {
    color: #000000;
    font-size: 5vw;
    font-weight: 600;
    text-align: center;
}

ul .nav__item {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

/* Media query for screens with width less than or equal to 768 pixels */
@media (max-width: 768px) {

    /* Custom styles for small screens */
    .nav__list {
        display: flex;
        /* Change to a horizontal layout for small screens */
        justify-content: space-around;
        /* Adjust the spacing of navigation items */
    }

    .nav__item {
        padding: 10px;
        /* Adjust the padding of navigation items */
    }
}




/* Body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #49C6DD;
}

.wrapper form {
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #BBBBBB;
}

.wrapper a {
    color: #BBBBBB;
    /* Set the desired color */
    text-decoration: underline;
    /* Add underline */
    display: inline;
    font-size: 30px;
}


form :where(i, p) {
    color: #BBBBBB;
}

form i {
    font-size: 50px;
    color: #BBBBBB;
}

form p {
    margin-top: 15px;
    font-size: 16px;
}

section .row {
    margin-bottom: 10px;
    background: #E9F0FF;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i {
    color: #49C6DD;
    font-size: 30px;
}

section .details span {
    font-size: 14px;
}

.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.progress-area .content .progress-bar {
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}

.content .progress-bar .progress {
    height: 100%;
    width: 0%;
    background: #49C6DD;
    border-radius: inherit;
}

/* Uploaded area */
.uploaded-area {
    max-height: 232px;
    overflow-y: scroll;
}

.uploaded-area.onprogress {
    max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
    width: 0px;
}

.uploaded-area .row .content {
    display: flex;
    align-items: center;
}

.uploaded-area .row .details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .row .details .size {
    color: #404040;
    font-size: 11px;
}

.uploaded-area i.fa-check {
    font-size: 16px;
}

.uploaded-area i.fa-times {
    font-size: 16px;
}